<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="com.phonegap.plugins.StartCustomVideoActivity"
		version="0.1">

	<name>StartCustomVideoActivity</name>
	<author>Weconstudio</author>

	<description>
		Esegue una activity contenente un video
	</description>

	<license>MIT</license>

	<js-module src="www/startcustomvideoactivity.js" name="StartCustomVideoActivity">
		<clobbers target="StartCustomVideoActivity" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<platform name="android">


		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.plugin.phonegap.VideoActivity" android:configChanges="orientation|screenSize|keyboardHidden">
				<intent-filter>
		        </intent-filter>
			</activity>
			<activity android:name="com.plugin.phonegap.WebActivity">
				<intent-filter>
		        </intent-filter>
			</activity>
		</config-file>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="StartCustomVideoActivity" >
				<param name="android-package" value="com.plugin.phonegap.StartCustomVideoActivity"/>
			</feature>
		</config-file>

		<source-file src="src/com/plugin/phonegap/StartCustomVideoActivity.java" target-dir="src/com/plugin/phonegap/" />
		
		<source-file src="src/com/plugin/phonegap/VideoActivity.java" target-dir="src/com/plugin/phonegap/" />
		<source-file src="src/com/plugin/phonegap/WebActivity.java" target-dir="src/com/plugin/phonegap/" />
		<source-file src="src/com/plugin/phonegap/WeVideoView.java" target-dir="src/com/plugin/phonegap/" />
		<source-file src="src/com/plugin/phonegap/util/SystemUiHider.java" target-dir="src/com/plugin/phonegap/util/" />
		<source-file src="src/com/plugin/phonegap/util/SystemUiHiderBase.java" target-dir="src/com/plugin/phonegap/util/" />
		<source-file src="src/com/plugin/phonegap/util/SystemUiHiderHoneycomb.java" target-dir="src/com/plugin/phonegap/util/" />
		
		<source-file src="src/it/weconstudio/utilities/Flags.java" target-dir="src/it/weconstudio/utilities/" />
		<source-file src="src/it/weconstudio/utilities/JsonParser.java" target-dir="src/it/weconstudio/utilities/" />
		<source-file src="src/it/weconstudio/utilities/ParserEventsListener.java" target-dir="src/it/weconstudio/utilities/" />
		<source-file src="src/it/weconstudio/utilities/WebViewStatus.java" target-dir="src/it/weconstudio/utilities/" />
		<source-file src="src/it/weconstudio/utilities/WeVideoViewSizeAvailable.java" target-dir="src/it/weconstudio/utilities/" />
		
		<source-file src="res/layout/activity_video.xml" target-dir="res/layout"/>
		<source-file src="res/layout/activity_web.xml" target-dir="res/layout"/>
		
		<source-file src="res/anim/fadein.xml" target-dir="res/anim"/>
		<source-file src="res/anim/fadeout.xml" target-dir="res/anim"/>
		
		<source-file src="res/values/attrs.xml" target-dir="res/values"/>
		<source-file src="res/values/colors.xml" target-dir="res/values"/>
		<source-file src="res/values/dimens.xml" target-dir="res/values"/>
		
		<source-file src="res/drawable-hdpi/header_smartphone.png" target-dir="res/drawable-hdpi"/>
		<source-file src="res/drawable-hdpi/icon_mosaico_home.png" target-dir="res/drawable-hdpi"/>
		<source-file src="res/drawable-hdpi/icona_back.png" target-dir="res/drawable-hdpi"/>
		<source-file src="res/drawable-hdpi/rsi_logo.png" target-dir="res/drawable-hdpi"/>
		<source-file src="res/drawable-hdpi/icon_mosaico_1.png" target-dir="res/drawable-hdpi"/>
		<source-file src="res/drawable-hdpi/icon_mosaico_2.png" target-dir="res/drawable-hdpi"/>
		<source-file src="res/drawable-hdpi/icon_mosaico_3.png" target-dir="res/drawable-hdpi"/>
		<source-file src="res/drawable-hdpi/icon_mosaico_4.png" target-dir="res/drawable-hdpi"/>
		
		
	</platform>
</plugin>
